<div class="quicklinks_inner">
	{% for item in options.quicklinks %}
		<div class="quicklink_single" style="width:{{ options.number_of_quicklinks }}" >
			<div class="quicklink_item" data-bg="{{ TimberImage(item.quicklink_image).src }}"></div>
			<div class="quicklink_title" data-bg="{{ TimberImage(item.quicklink_icon).src }}">
				<a href="{{ item.quicklink_uri }}">{{ item.quiclink_title }}</a>
			</div>
		</div>
	{% endfor %}
</div>
