{% extends "base.twig" %}

{% block content %}
	<div id="postBody" class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				{% include "partial/content_headers.twig" %}
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<div class="article-body">
					<div class="blog-container">
						{% for post in blog %}
							<div class="blog-container-single" onclick="window.location = '{{ post.link }}';">
								<h2>{{ post.title }}</h2>
							</div>
						{% endfor %}
					</div>

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->
{% endblock %}
