{% extends "base.twig" %}

{% block content %}
	<div id="postBody" class="content-wrapper">
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				{% include "partial/content_headers.twig" %}
			<section class="article-content">
				<h1 class="article-h1">{{ post.title }}</h1>
				<div class="article-body">
					<div class="blog-container">
						{% for blogpost in blog %}
							<div onclick="window.location = '{{ blogpost.link }}';" class="blog-container_single all" style="display: block;"  data-title="{{ blogpost.title }}">
								<div class="blog_img" alt="{{ blogpost.title }}" data-bg="{{ blogpost.thumbnail.src }}" ></div>
								<h3>{{ blogpost.title }}</h3>
								<hr />
							</div>
						{% endfor %}
					</div>

				</div>
			</section>
		</article>
	</div><!-- /content-wrapper -->

	<script>
		ScrollReveal().reveal('.all');
	</script>
{% endblock %}
