{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper main-content">
    <div class="post-wrapper">
      <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				{% include "partial/content_headers.twig" %}
        <section class="article-content">

					{% if post.school_name %}
					<div class="client-deets" data-bg="{{ post.get_field('school_logo') }}">
					</div>
					{% endif %}

					<div class="main-section">
						<h1 class="article-h1">{{ post.title }}</h1>
	          <div class="article-body">
	            {{post.content}}
							{% if post.get_field('school_website') %}
								<button onclick="window.open('{{ post.get_field('school_website') }}')" class="yellow-button hvr-bounce-to-top">Visit website</button>
							{% endif %}
	          </div>
					</div>

				</section>
      </article>
			<div class="work-gallery">
				{% for image in post.get_field('work_images') %}
					<div class="work-gallery-single" data-bg="{{ image.work_image }}"></div>
				{% endfor %}
			</div>

    </div>
  </div>
  <!-- /content-wrapper -->
{% endblock %}
