{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper main-content">
    <div class="post-wrapper">
      <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				{% include "partial/content_headers.twig" %}
        <section class="article-content">

					<div class="client-deets">
						<div class="logo" data-bg="{{ post.get_field('school_logo') }}">
						</div>
						<h2>{{ post.school_name }}</h2>
						<p>{% for terms in post.terms %}{{ terms }}, {% endfor %}</p>
						<div style="width: 100%;">
							<div style="text-align:center;">
								<button class="yellow-button hvr-bounce-to-top">Visit website</button>
							</div>
						</div>
					</div>
					<div class="main-section">
						<h1 class="article-h1">{{ post.title }}</h1>
	          <div class="article-body">
	            {{post.content}}
	          </div>
					</div>

				</section>
      </article>
			<div class="work-gallery">
				{% for image in post.get_field('work_images') %}
					<div class="work-gallery-single" data-bg="{{ image.work_image }}"></div>
				{% endfor %}
			</div>

    </div>
  </div>
  <!-- /content-wrapper -->
{% endblock %}
