{% extends "base.twig" %}

{% block content %}
  <div class="content-wrapper main-content">
    <div class="post-wrapper">
      <article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">
				{% include "partial/content_headers.twig" %}
        <section class="article-content">

          <h1 class="article-h1">{{ post.title }}</h1>
          <div class="article-body">
            {{post.content}}
          </div>

          {% for items in post.get_field('document_lists') %}
            <strong>{{ items.doc_list_title }}</strong>
            {% for item in items.document_list %}
              <div class="item">
                <a href="{{ item.doc_link }}" target="_blank">
                  <h4>{{ item.doc_name }}</h4>
                </a>
              </div>
            {% endfor %}
          {% endfor %}

					<button class="hvr-bounce-to-top" lable="back_btn" onclick="goBack()">Go Back</button>


        </section>
      </article>
      <script>
        function goBack() {
          window.history.back();
        }
      </script>
    </div>
  </div>
  <!-- /content-wrapper -->
{% endblock %}
