<div class="findoutmore">
	<div class="findoutmore_inner">
		<div class="findoutmore_inner_left">
			<h2>{{ post.get_field('ib2_title') }}</h2>
			<p>{{ post.get_field('ib2_text') }}</p>
			<button class="yellow-button hvr-bounce-to-top" onclick="window.location='{{ post.get_field('ib2_button_link') }}';">{{ post.get_field('ib2_button_text') }}</button>
		</div>
		<div class="findoutmore_inner_right" data-bg="{{ post.get_field('ib2_photo_image') }}">
		</div>
	</div>
</div>
