<div class="tiles">
	<div class="tiles_inner">
		<div class="tiles_inner_row">

			{% for tile in options.tiles %}
				<div class="tiles_inner_row_tile">
					<div class="tile inner_shadow" alt="{{ tile.alt_text }}" data-bkcolor="{{ tile.tile_back_colour }}" data-desc="{{ tile.tile_text }}" style="background-color: #{{ tile.background_color }}" data-bg="{{ tile.tile_image }}">
						<figcaption>
							<p>
								{{ tile.tile_text }}
							</p>
						</figcaption>
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
</div>
