<header class="header" id="main_header">
  {% block header %}
    <div class="wrapper" id="headerwrapper">
      <div class="header_wrapper">
        <div class="header_inner">
          <div class="left_header">
            <div class="logo"></div>
          </div>
          <div class="right_header">
            <div class="right_header_top">
							<p>
								email: <a href="mailto:{{ options.school_email }}">{{ options.school_email }}</a>
							</p>
							<p>
								call: <a href="tel:{{ options.school_phone }}">{{ options.school_phone }}</a>
							</p>
							<div class="soc facebook" onclick="window.open('https://www.facebook.com/themustardagency')"></div>
							<div class="soc twitter" onclick="window.open('https://twitter.com/MustardAgencyUK')"></div>
							<div class="soc instagrame" onclick="window.open('https://www.instagram.com/themustardagency')"></div>
							<div class="soc search" onclick="window.open('{{ site.link}}/search/', '_self')"></div>
            </div>
            <div class="right_header_bottom">
							<nav id="nav-main" class="nav-main" role="navigation">
				          {% include "header/menu.twig" with { 'menu' : menu.get_items } %}
				      </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endblock %}
</header>
