<div class="pre-footer-left">
  <h2>Connect with us</h2>
  <p>{{ options.school_address }}</p>
  <p class="footer_phone">Telephone: <a href="tel:{{ options.school_phone }}">{{ options.school_phone }}</a></p>
  <p><a href="mailto:{{ options.school_email }}" class="footer_email">{{ options.school_email }}</a></p>
</div>
<div class="pre-footer-center">
	<h2>{{ options.text_title }}</h2>
	<p>{{ options.main_text }}</p>
</div>
<div class="pre-footer-right">
	<button class="hvr-bounce-to-top">Contact us</button>
</div>
